[Desktop Entry]
Name=Cert Watch
Comment=TLS Certificate Monitor
Exec=cert-watch
Icon=io.github.yeager.CertWatch
Terminal=false
Type=Application
StartupWMClass=io.github.yeager.CertWatch
Categories=Network;Security;GTK;
Keywords=certificate;tls;ssl;monitor;
